* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Satoshi;font-display: swap;src: url("../assets/fonts/Satoshi-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face {font-family: Gambetta;font-display: swap;src: url("../assets/fonts/Gambetta-LightItalic.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: Chillax;font-display: swap;src: url("../assets/fonts/Chillax-Light.woff2") format("woff2");font-weight: 300;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?cd252e7ad8f4656e2ed0479be2c49a98") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-s-yt"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-s-wp"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-s-tw"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-s-tt"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-tr"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-pt"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-in"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-s-fb"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-s-db"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-s-bh"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-link"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-info"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-arrow-min"]::before { 
		content: "\f113"; 
	} 
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: rgba(218, 197, 167, 0.6);
  font-family: "Chillax", sans-serif;
  font-size: 1rem;
  background-color: #0e0e0e;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

[class*="--arrow-d"]::before {
  transform: rotate(180deg);
}

[class*="--arrow-l"]::before {
  transform: rotate(90deg);
}

[class*="--arrow-r"]::before {
  transform: rotate(-90deg);
}

[class*="--arrow-ru"]::before {
  transform: rotate(45deg);
}

[class*="--arrow-lu"]::before {
  transform: rotate(-45deg);
}

[class*="--arrow-rd"]::before {
  transform: rotate(225deg);
}

[class*="--arrow-ld"]::before {
  transform: rotate(-135deg);
}

[data-fls-contour] {
  overflow: hidden;
  border-radius: 0.125rem;
  position: relative;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
}
[data-fls-contour]::after {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../assets/img/noise.png") 0 0 repeat;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-spollers] summary {
  list-style: none;
}
[data-fls-spollers] summary::marker, [data-fls-spollers] summary::-webkit-details-marker {
  display: none;
}

.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  width: 100%;
  gap: 0.1875rem 1.25rem;
  display: flex;
  flex-wrap: wrap;
}
.menu__link {
  font-size: 0.8125rem;
  line-height: 1.6;
  color: #dac5a7;
  position: relative;
  letter-spacing: 0.09375rem;
  transition: color 0.5s;
  font-family: "Satoshi", sans-serif;
  text-transform: uppercase;
}
.menu__link::after {
  content: "";
  width: 0;
  bottom: 0;
  left: 50%;
  height: 0.03125rem;
  border-radius: 0.3125rem;
  position: absolute;
  background-color: #f1e8da;
  transition: width 0.5s, left 0.5s;
}
.menu__link--active {
  color: #f1e8da;
}
.menu__link--active::after {
  left: 0;
  width: 100%;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  top: 1.25rem;
  left: 0;
  right: 0;
  z-index: 50;
  position: fixed;
  pointer-events: none;
}
.header__container {
  pointer-events: auto;
}
.header__logo, .header__link-logo, .header__button {
  z-index: 5;
  position: relative;
}
.header__body {
  gap: 0.9375rem;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  position: relative;
}
.header__body::before {
  content: "";
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 0.125rem;
  position: absolute;
  backdrop-filter: blur(1.875rem);
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  background: rgba(218, 197, 167, 0.05);
  border-top: 0.0625rem solid rgba(218, 197, 167, 0.15);
}
.footer__container {
  max-width: 101.875rem;
}

.body-footer {
  display: flex;
  row-gap: 1.875rem;
}
.body-footer__content {
  flex: 0 1 28.75%;
}
.body-footer__menus {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.body-footer__menu {
  flex-grow: 1;
}
.body-footer__title {
  gap: 0.5rem;
  display: flex;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4;
  color: #dac5a7;
  align-items: center;
  letter-spacing: 0.0625rem;
  font-family: "Satoshi", sans-serif;
}
.--spoller-init .body-footer__title::after {
  rotate: 180deg;
  font-size: 0.8125rem;
  content: "\f112";
  transition: rotate 0.5s;
  font-family: "iconfont";
}
.body-footer__title.--spoller-active::after {
  rotate: 0deg;
}
.body-footer__item:not(:last-child) {
  margin-bottom: 1rem;
}
.body-footer__link {
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  transition: color 0.5s;
  text-transform: uppercase;
  font-family: "Satoshi", sans-serif;
}

.content-footer {
  display: flex;
  flex-direction: column;
}
.content-footer__social.social {
  gap: 1rem;
}

.bottom-footer {
  gap: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-footer__copy {
  line-height: 1.6;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  font-size: 0.8125rem;
  line-height: 1.521;
  color: #dac5a7;
  font-family: "Satoshi", sans-serif;
  background-color: rgba(218, 197, 167, 0.05);
  padding: 0.625rem 1rem;
  border-radius: 0.125rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: color 0.5s, background-color 0.5s;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
}
.button--lite {
  color: #0e0e0e;
  background-color: #dac5a7;
}
.button--icon {
  gap: 0.5rem;
  flex-direction: row-reverse;
}
.button--text {
  gap: 0.75rem;
  padding: 0;
  border: none;
  background-color: transparent;
}
.button--text::before {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s;
  align-content: center;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.05);
}
.button--text-rev {
  flex-direction: row-reverse;
}
.button--fw {
  width: 100%;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.social {
  gap: 0.625rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.social__item {
  flex-shrink: 0;
}
.social__link {
  gap: 1rem;
  display: flex;
  align-items: center;
}
.social__link::before {
  width: 2.875rem;
  display: flex;
  font-size: 1rem;
  aspect-ratio: 1;
  color: #dac5a7;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  transition: background-color 0.5s, color 0.5s;
}
.social__link span {
  font-size: 0.8125rem;
  letter-spacing: 0.09375rem;
  transition: color 0.5s;
  text-transform: uppercase;
}
.social__link--icon-s-bh::before {
  padding-bottom: 0.25rem;
}/* Generated by vite-plugin-svg-spritemap */
.letstalk {
  background-color: rgba(218, 197, 167, 0.05);
}

.line-letstalk[data-fls-border] {
  padding: 0;
}
.line-letstalk__item {
  font-size: 0.8125rem;
  line-height: 1.6;
  color: #dac5a7;
  letter-spacing: 0.09375rem;
  font-family: "Satoshi", sans-serif;
  text-transform: uppercase;
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-border] {
  border-radius: 0.125rem;
  background: rgba(218, 197, 167, 0.05);
  backdrop-filter: blur(0.9375rem);
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
}/* Generated by vite-plugin-svg-spritemap */
.blockhead {
  display: grid;
  text-align: center;
  text-wrap: balance;
  justify-items: center;
}
.blockhead--left {
  text-align: left;
  justify-items: start;
}
.blockhead--gap-8 {
  gap: 0.5rem;
}
.blockhead__label, .blockhead__title {
  max-width: 62.5rem;
  color: #dac5a7;
  font-family: "Satoshi", sans-serif;
}
.blockhead__label {
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}
.blockhead__title {
  font-weight: 300;
}
.blockhead__title span {
  display: block;
  font-family: "Gambetta", serif;
}
.blockhead__title--size-80 {
  font-size: 5rem;
}
.blockhead__text {
  line-height: 1.7;
  max-width: 37.5rem;
}
.blockhead__button {
  margin-top: 1.5rem;
}/* Generated by vite-plugin-svg-spritemap */@media (max-height: 53.125em) and (max-width: 20em) {
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
}@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}@media (max-width: 47.99875em) {
  .menu {
    flex-grow: 1;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
    background-color: rgba(14, 14, 14, 0.8);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    gap: 0.9375rem 1.25rem;
    flex-direction: column;
    align-items: flex-end;
  }
  .menu__link {
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #dac5a7;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .body-footer {
    flex-direction: column;
  }
  .content-footer {
    text-align: center;
    align-items: center;
  }
  .content-footer__social.social {
    justify-content: center;
  }
  .content-footer__social.social span {
    display: none;
  }
  .bottom-footer {
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}@media (max-width: 31.25em) {
  .body-footer__menus {
    align-items: center;
    flex-direction: column;
  }
  .body-footer__menu {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}@media (max-width: 20em) {
  .footer {
    padding-block: 2.5rem;
  }
  .footer__body {
    margin-bottom: 1.875rem;
  }
  .body-footer {
    column-gap: 1.25rem;
  }
  .body-footer__menus {
    row-gap: 1.25rem;
  }
  .body-footer__menus {
    column-gap: 1.25rem;
  }
  .body-footer__list {
    padding-top: 0.9375rem;
  }
  .content-footer {
    gap: 1.25rem;
  }
  .button--text-big::before {
    width: 2.1875rem;
  }
  .button--text-big::before {
    font-size: 0.8125rem;
  }
  .letstalk__container {
    padding-block: 3.125rem;
  }
  .line-letstalk__item {
    padding-block: 0.5rem;
  }
  .blockhead {
    gap: 0.5rem;
  }
  .blockhead__title {
    font-size: 2.5rem;
  }
  .blockhead__title--size-160 {
    font-size: 2.8125rem;
  }
  .blockhead__title--size-96 {
    font-size: 2.375rem;
  }
  .blockhead__text {
    font-size: 0.875rem;
  }
  .blockhead__text--size-24 {
    font-size: 1rem;
  }
  .blockhead__text--size-18 {
    font-size: 0.75rem;
  }
}@media (max-height: 53.125em) and (min-width: 89.375em) {
  .blockhead__title--size-160 {
    font-size: 8rem;
  }
}@media (max-height: 53.125em) and (min-width: 20em) and (max-width: 89.375em) {
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 1.31700450450625rem  +  7.4774774775vw , 8rem );
  }
}@media (min-width: 20em) and (max-width: 89.375em) {
  .footer {
    padding-block: clamp( 2.5rem , 2.06756756756875rem  +  2.1621621622vw , 4rem );
  }
  .footer__body {
    margin-bottom: clamp( 1.875rem , 0.82995495495625rem  +  5.2252252252vw , 5.5rem );
  }
  .body-footer {
    column-gap: clamp( 1.25rem , 0.49324324324375rem  +  3.7837837838vw , 3.875rem );
  }
  .body-footer__menus {
    row-gap: clamp( 1.25rem , 0.8896396396375rem  +  1.8018018018vw , 2.5rem );
  }
  .body-footer__menus {
    column-gap: clamp( 1.25rem , 0.45720720720625rem  +  3.963963964vw , 4rem );
  }
  .body-footer__list {
    padding-top: clamp( 0.9375rem , 0.63119369369375rem  +  1.5315315315vw , 2rem );
  }
  .content-footer {
    gap: clamp( 1.25rem , 0.8355855855875rem  +  2.0720720721vw , 2.6875rem );
  }
  .button--text-big::before {
    width: clamp( 2.1875rem , 1.95326576576875rem  +  1.1711711712vw , 3rem );
  }
  .button--text-big::before {
    font-size: clamp( 0.8125rem , 0.7764639639625rem  +  0.1801801802vw , 0.9375rem );
  }
  .letstalk__container {
    padding-block: clamp( 3.125rem , 1.14301801801875rem  +  9.9099099099vw , 10rem );
  }
  .line-letstalk__item {
    padding-block: clamp( 0.5rem , 0.35585585585625rem  +  0.7207207207vw , 1rem );
  }
  .blockhead {
    gap: clamp( 0.5rem , 0.35585585585625rem  +  0.7207207207vw , 1rem );
  }
  .blockhead__title {
    font-size: clamp( 2.5rem , 0.9144144144125rem  +  7.9279279279vw , 8rem );
  }
  .blockhead__title--size-160 {
    font-size: clamp( 2.8125rem , 0.740427927925rem  +  10.3603603604vw , 10rem );
  }
  .blockhead__title--size-96 {
    font-size: clamp( 2.375rem , 1.32995495495625rem  +  5.2252252252vw , 6rem );
  }
  .blockhead__text {
    font-size: clamp( 0.875rem , 0.76689189189375rem  +  0.5405405405vw , 1.25rem );
  }
  .blockhead__text--size-24 {
    font-size: clamp( 1rem , 0.85585585585625rem  +  0.7207207207vw , 1.5rem );
  }
  .blockhead__text--size-18 {
    font-size: clamp( 0.75rem , 0.64189189189375rem  +  0.5405405405vw , 1.125rem );
  }
}@media (min-width: 47.99875em) {
  .menu {
    z-index: 5;
    position: relative;
  }
  .header {
    top: 3rem;
  }
  .header__body {
    gap: 2rem;
    padding-left: 1.5rem;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  .content-footer__social.social {
    flex-direction: column;
    align-items: flex-start;
  }
}@media (min-width: 89.375em) {
  .footer {
    padding-block: 4rem;
  }
  .footer__body {
    margin-bottom: 5.5rem;
  }
  .body-footer {
    column-gap: 3.875rem;
  }
  .body-footer__menus {
    row-gap: 2.5rem;
  }
  .body-footer__menus {
    column-gap: 4rem;
  }
  .body-footer__list {
    padding-top: 2rem;
  }
  .content-footer {
    gap: 2.6875rem;
  }
  .button--text-big::before {
    width: 3rem;
  }
  .button--text-big::before {
    font-size: 0.9375rem;
  }
  .letstalk__container {
    padding-block: 10rem;
  }
  .line-letstalk__item {
    padding-block: 1rem;
  }
  .blockhead {
    gap: 1rem;
  }
  .blockhead__title {
    font-size: 8rem;
  }
  .blockhead__title--size-160 {
    font-size: 10rem;
  }
  .blockhead__title--size-96 {
    font-size: 6rem;
  }
  .blockhead__text {
    font-size: 1.25rem;
  }
  .blockhead__text--size-24 {
    font-size: 1.5rem;
  }
  .blockhead__text--size-18 {
    font-size: 1.125rem;
  }
}@media (any-hover: hover) {
  .menu__link:hover {
    color: #f1e8da;
  }
  .menu__link:hover::after {
    left: 0;
    width: 100%;
  }
  .body-footer__link:hover {
    color: #dac5a7;
  }
  .button:hover {
    color: #0e0e0e;
    background-color: #dac5a7;
  }
  .button--lite:hover {
    color: #dac5a7;
    background-color: rgba(218, 197, 167, 0.05);
  }
  .button--text:hover {
    color: #dac5a7;
    background-color: transparent;
  }
  .button--text:hover::before {
    color: #0e0e0e;
    background-color: #dac5a7;
  }
  .social__link:hover::before {
    color: #0e0e0e;
    background-color: #dac5a7;
  }
  .social__link:hover span {
    color: #dac5a7;
  }
}